<h1 class="text-center page-title">All Movies</h1>
<div class="home container">
	<div class="row">
		<div class="col-lg-3 col-md-4 col-xs-6 col-xxs-12">
			<div class="movie-item">
				<div class="movie-img">
					<a href="#">
						<img src="https://p.w3layouts.com/demos_new/09-01-2017/movies_pro-demo_Free/85730052/web/images/c1.jpg" class="img-responsive">
					</a>
				</div>
				<div class="movie-info">
					<div class="movie-title">
						<h6>Kevin Hart</h6>
					</div>
					<div class="movie-year">
						<p>2016</p>
						<div class="movie-stars">
							<ul class="ratings">
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 col-xxs-12">
			<div class="movie-item">
				<div class="movie-img">
					<a href="#">
						<img src="https://p.w3layouts.com/demos_new/09-01-2017/movies_pro-demo_Free/85730052/web/images/c1.jpg" class="img-responsive">
					</a>
				</div>
				<div class="movie-info">
					<div class="movie-title">
						<h6>Kevin Hart</h6>
					</div>
					<div class="movie-year">
						<p>2016</p>
						<div class="movie-stars">
							<ul class="ratings">
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 col-xxs-12">
			<div class="movie-item">
				<div class="movie-img">
					<a href="#">
						<img src="https://p.w3layouts.com/demos_new/09-01-2017/movies_pro-demo_Free/85730052/web/images/c1.jpg" class="img-responsive">
					</a>
				</div>
				<div class="movie-info">
					<div class="movie-title">
						<h6>Kevin Hart</h6>
					</div>
					<div class="movie-year">
						<p>2016</p>
						<div class="movie-stars">
							<ul class="ratings">
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 col-xxs-12">
			<div class="movie-item">
				<div class="movie-img">
					<a href="#">
						<img src="https://p.w3layouts.com/demos_new/09-01-2017/movies_pro-demo_Free/85730052/web/images/c1.jpg" class="img-responsive">
					</a>
				</div>
				<div class="movie-info">
					<div class="movie-title">
						<h6>Kevin Hart</h6>
					</div>
					<div class="movie-year">
						<p>2016</p>
						<div class="movie-stars">
							<ul class="ratings">
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 col-xxs-12">
			<div class="movie-item">
				<div class="movie-img">
					<a href="#">
						<img src="https://p.w3layouts.com/demos_new/09-01-2017/movies_pro-demo_Free/85730052/web/images/c1.jpg" class="img-responsive">
					</a>
				</div>
				<div class="movie-info">
					<div class="movie-title">
						<h6>Kevin Hart</h6>
					</div>
					<div class="movie-year">
						<p>2016</p>
						<div class="movie-stars">
							<ul class="ratings">
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-xs-6 col-xxs-12">
			<div class="movie-item">
				<div class="movie-img">
					<a href="#">
						<img src="https://p.w3layouts.com/demos_new/09-01-2017/movies_pro-demo_Free/85730052/web/images/c1.jpg" class="img-responsive">
					</a>
				</div>
				<div class="movie-info">
					<div class="movie-title">
						<h6>Kevin Hart</h6>
					</div>
					<div class="movie-year">
						<p>2016</p>
						<div class="movie-stars">
							<ul class="ratings">
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
								<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>